/**
 * Edit project screen styles
 */
:root {
  --component-border: 1px solid #000000;
  --white-transparent: rgba(255, 255, 255, 0.2);
  --input-border: 1px solid rgba(255, 255, 255, 0.3);
  --input-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --element-padding: 0.5rem 2rem;
  --error-background-color: rgba(255, 0, 0, 0.1);
}

.page-container {
  width: 100%;
  min-height: 100vh;
}

h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .btn {
    margin-left: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 1.6rem;
      height: 1.6rem;

      & * {
        stroke: var(--text-color);
      }
    }
  }
}

.sidebar-toggle {
  padding: 0 0 2rem 2rem;

  svg {
    width: 2rem;
    height: 2rem;
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.right-sidebar {
  padding: 0;
  flex: 0 0 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  & .preview-pane {
    height: 100%;
    font-size: 1.2rem;
    font-family: monospace;
  }
}

.active .right-sidebar {
  padding-left: 1.5rem;
  flex: 0 0 20%;
  min-width: 30rem;
}

.container-background {
  padding: 2rem;
  background: var(--white-transparent);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  margin-bottom: 2rem;

  h3 {
    padding-bottom: 2rem;
  }
}

.component-selection {
  padding: 0.5rem;
  border: var(--component-border);
  border-radius: var(--default-radius);
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  /* cursor for drag and drop */
  cursor: move;
}

/**
 * About window styles
 */
.about-window {
  min-height: 100vh;
  padding: 0;

  & .about-wrapper {
    padding: 2rem;
  }

  & svg {
    width: 6.75rem;
    height: 6.75rem;
    fill: none;
    stroke: var(--text-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.help-text-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  cursor: pointer;
}

.help-text-overlay {
  position: fixed;
  top: 30rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  width: 60rem;
  margin: 0;
  padding: 3rem;
  background-color: white;
  border-radius: var(--default-radius);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
