@import './variables.css';
@import './fonts.css';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Makes 1rem = 10px */
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 900px;
  padding: var(--body-padding);
  background-image: var(--page-background);
  background-blend-mode: overlay, overlay, overlay, normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size-base);
  color: var(--color-body);
  line-height: 1.5;
}

svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;

  g {
    stroke: 1px;
  }
}

/* Screen Transitions */
.fade-enter { opacity: 0; }
.fade-exit { opacity: 1; }
.fade-enter-active { opacity: 1; }
.fade-exit-active { opacity: 0; }
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.new-project {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;

  & img {
    max-width: 15rem;
    margin-bottom: 5rem;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0;

    & li {
      height: 5rem;
      display: flex;
      align-items: center;
      font-size: 1.6rem;

      & strong {
        display: inline-block;
        width: 15rem;
        font-size: 0.8em;
      }

      &.get-path {
        position: relative;
        padding: 0;

        & > div {
          display: flex;
          align-items: center;
          height: 100%;
        }

        & .path-display {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;

          &.show {
            opacity: 1;
          }
        }

        & .button-display {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;

          &.show {
            opacity: 0;
          }

          & a {
            margin-left: 1rem;
          }
        }

        &.ready {
          & .path-display {
            opacity: 1;
          }

          & .button-display {
            opacity: 0;
          }
        }
      }

      &.decision-buttons {
        display: flex;
        margin-top: 3rem;

        & .btn {
          margin: 0 2rem 0 0;

          &.start {
            display: none;
          }
        }

        &.ready {
          & .start {
            display: inline-block;
          }
        }
      }
    }
  }

  & .start-with-config {
    display: none;

    & strong {
      font-size: 1.2rem;
      white-space: nowrap;
    }
  }
}
