.templates-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.template-tabs {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color-light);
}

.template-tab {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--default-radius);
  background: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease;


  &:hover {
    background-color: var(--background-color-lighter);
  }

  &.active {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    font-weight: 600;
  }
}

.template-list {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem;
  margin-top: 1rem;
}

.template-type-group {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;

  & .template-selection,
  & .template-block {
    padding: 0.5rem;
    border: var(--component-border);
    border-radius: var(--default-radius);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: move;
  }
}

.template-type-group > div {
  overflow: hidden;
}

.template-type-group.active {
  grid-template-rows: 1fr;
}
